jupyter
jupytext
# jupyterlab-lsp
git+https://github.com/Ouranosinc/xsdba.git@speed-up-import
git+https://github.com/Ouranosinc/xclim.git@split_sdba
git+https://github.com/Ouranosinc/xscen.git@use_omegaconf
# flake8
